@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>Welcome to My Simple Web Application !</p>


    <!-- Contact button -->
    <a asp-controller="Home" asp-action="Contact" class="btn btn-primary">Contact Us</a>
    <a asp-controller="Home" asp-action="Submissions" class="btn btn-primary">Contact List</a>
</div>
